/*creates a top bar portion of the website with Foxchatter*/
header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: greenyellow;
	font-size: 30px;
	color: black;
}
/*It changes the layout of the newsfeed by centering*/
main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
	margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}
/*footer will always stay at bottom*/
footer {
	position: relative;
	left: 0px;
  	bottom: 0px;
	width: 100%;
	background-color: greenyellow;
	text-align: center;
	font-size: 20px;
}
/*location of the portal button to marist website*/
#portal_button {
	position: fixed;
	right: 30px;
	top: 10px;
}
/*for the links in the newsfeed*/
a {
	color: blue;
	text-decoration: none;
}
/*moves the image of redfox to the top right*/
#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}
/*allows siz for newsfeed*/
#newsfeed {
	max-width: 600px;
	min-width: 600px;
	
}
/*makes all images of newsfeed the same size*/
.feedImage {
	max-width: 150px;
	max-height: 150px;
}
/*background of the newsfeed*/
body{
	background-color: lightblue;
}
/*creates delete button*/
.button-group{
	font-size: 40px;
	padding:10px;
	border-radius:20px;
	margin:20px;

}

